body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4caf50;
}

.timer {
    text-align: center;
}

input {
    padding: 5px;
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#countdown {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    color: #4caf50;
}

